# ----------------------------------------------------------------------
# SECURITE & CLES
# ----------------------------------------------------------------------
# Clés SSH, d'API, etc.
github_key
github_key.pub
*.key
*.pem
*.env

# ----------------------------------------------------------------------
# ROS 2 / COLCON
# ----------------------------------------------------------------------
build/
install/
log/

# ----------------------------------------------------------------------
# PYTHON
# ----------------------------------------------------------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.so

# Environments
venv/
.venv/
env/

# Tests
.pytest_cache/

# ----------------------------------------------------------------------
# EDITEURS DE CODE
# ----------------------------------------------------------------------
# VS Code
.vscode/

# End